{
  "extends": ["react-app", "prettier"],
  "rules": {
    "jsx-quotes": [1, "prefer-double"],
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/anchor-has-content": "off"
  },
  "plugins": ["prettier"]
}
